html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(https://www.ssbwiki.com/images/b/b2/Fox_Palette_%28SSBM%29.png);
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    background-color: blue;
}

.main {
    height: 100%;
    background-image: url(https://www.ssbwiki.com/images/b/b2/Fox_Palette_%28SSBM%29.png);
}

.social-image{
    width: 30px;
    margin: 15px;
}

.rightPane {
    background-image: url(https://www.ssbwiki.com/images/b/b2/Fox_Palette_%28SSBM%29.png);
}

.centerPane {
    background-image: url(https://www.ssbwiki.com/images/b/b2/Fox_Palette_%28SSBM%29.png);
}

.aboutMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(255, 100, 0);
}

.header {
    font-size: 400%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}